h2 {
    width: 55%;
    word-wrap: break-word;
    white-space: normal;
    margin: 0;
    text-align: center;
    font-size: 2em;
    padding-top: 17%;
}

h3{
    text-align: center;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 50px;
    margin: 10px 0;
}

button:hover{
    background-color: white;
    color: black;
}