h2 {
    width: 55%;
    word-wrap: break-word;
    white-space: normal;
    margin: 0 auto;
    text-align: center;
    padding-top: 18%;
    font-size: 2em;
    justify-content: center;
    display: flex;
}

h3{
    justify-content: center;
    display: flex;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 50px;
    margin: 10px;
    width: 10em;
}

button:hover{
    background-color: white;
    color: black;
}