body{
    background-image: url("img/page.png");
    background-color: #E6E0D6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2{
    justify-content: center;
    display: flex;
    padding-top: 15%;
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 50px;
    margin: 10px 0;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
}

input[type="text"] {
    border-radius: 50px;
    height: 4em;
    width: 25em;
    margin: 10px 0;
    padding: 20px;
    font-size: 15px;
}
